doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page

        +header()
        main.main
            h1.visually-hidden Приложение Pink
            block section
        +footer()
    script(src='%=static=%js/main%=hash=%%=min=%.js')


