extends _template.pug
include ../components/title/title.pug
include ../components/title-main/title-main.pug
include ../components/button-link/button-link.pug
include ../components/icon-list/icon-list.pug
include ../components/text-block/text-block.pug
include ../components/review-slider/review-slider.pug
include ../components/paginator/paginator.pug
include ../components/controls/controls.pug
include ../components/table/table.pug
include ../components/contacts/contacts.pug
include ../components/map/map.pug

append section
    .promo.promo--index
        .container
            .row
                .col-12.col-md-3.col-xl-4
                    +title-main({titleText: 'Взгляните на жизнь иначе!'})
                    +button-link({buttonDescr : 'Скачать приложение'})
                    +icon-list([
                        {mod : '1'},
                        {mod: '2'},
                        {mod: '3'}
                    ])

    .container.col-12
        +title({titleText: 'Устали от серости мегаполиса?'})
        +title({titleText: 'Нам есть, что вам <br> предложить!'})
    .row.bg-color
        .container.col-12
            +text-block([
                {
                    wrap: '1',
                    title : 'Поднимает настроение',
                    text: 'Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!'
                },{
                    wrap: '2',
                    title : 'Меняет мир вокруг',
                    text: 'Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект'
                }, {
                    wrap: '3',
                    title : 'Заводит новых друзей',
                    text: 'Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых'
                }
            ])(class='text-block--pseudo')
    .row
        .container.col-12
            +text-block([
                {
                    title : 'Эффект на 24 часа',
                    text: 'Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!',
                    link: 'Узнать больше об исследовании',
                    href: '#'
                }
            ])(class='text-block--timer')
    .container
        .row.row--column.col-12
            +review-slider([
                {
                    selected: true,
                    author: 'Николай Петров',
                    tbText: '25 лет, водитель трамвая',
                    text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
                },{
                    author: 'Николай Петров',
                    tbText: '25 лет, водитель трамвая',
                    text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
                },{
                    author: 'Николай Петров',
                    tbText: '25 лет, водитель трамвая',
                    text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
                }
            ])
            +paginator([
                {selected: true},
                {selected: false},
                {selected: false}
            ])
            +controls()
    .bg-color.row.row--column
        +table({
            'head' : [
                {
                    'descr': true,
                    'label': 'feature',
                    'hidden': true,
                    'title': 'Функции'
                }, {
                    'title': 'База',
                    'price': '1,99 usd'
                }, {
                    'descr': true,
                    'label': 'hit',
                    'title': 'Стандарт',
                    'price': '3,99 usd'
                }, {
                    'title': 'Анлим',
                    'price': '9,99 usd'
                }
            ],
            'body' : [
                {'title':'Розовый фильтр',
                    'bodyItem' : [

                        {'name': 'Розовый фильтр',
                        'value' : true},
                        {'name': 'Розовый фильтр',
                        'value' : true},
                        {'name': 'Розовый фильтр',
                        'value' : true}
                    ]
                },
                {'title':'Смайлики',
                    'bodyItem' : [

                        {'name': 'Смайлики',
                        'value' : true},
                        {'name': 'Смайлики',
                        'value' : true},
                        {'name': 'Смайлики',
                        'value' : true}
                    ]
                },
                {'title':'Комментарии',
                    'bodyItem' : [

                        {'name': 'Комментарии'},
                        {'name': 'Комментарии'},
                        {'name': 'Комментарии',
                        'value' : true}
                    ]
                },
            ]
        })
        +paginator([
            {selected: true},
            {selected: false},
            {selected: false}
        ])
    .container
        +title({titleText: 'Остались вопросы? <br> Свяжитесь с нами!'})
        .row.row--column.row--row-md.row--center-md
            +contacts(
                {
                    link: true,
                    name: 'Звоните ',
                    href: 'tel:+78125556666',
                    linkText: '+7 (812) 555-66-66',
                    current: 'tel'

                })
            +contacts({
                    link: true,
                    name: 'Пишите ',
                    href: 'mailto:mail@htmlacademy.ru',
                    linkText: 'mail@htmlacademy.ru',
                    current: 'email'
                })
            +contacts({
                    text: true,
                    name: 'Приезжайте в гости ',
                    span: 'ул. Большая <br> Конюшенная, 19/8',
                    current: 'address'
                })
    .row
        +map(map.defaults)
