extends _template.pug
include ../components/title/title.pug
include ../components/title-main/title-main.pug
include ../components/button-link/button-link.pug
include ../components/text-block/text-block.pug
include ../components/item-block/item-block.pug


append section
    .promo
        .container
            .grid.grid--center
                .grid__col-8.grid__col-xl-6
                        +title-main({titleText: 'Фотографии пользователей'})
    .container
        .grid.grid--center
            .grid__col-12.grid__col-md-10.grid__col-xl-8.mt-54.mt-100md.mt-85-xl
                +text-block([
                    {text: 'Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?'}
                ])

    .container
        .grid.row-gap-20
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                    {
                        sourse: [
                            {
                                'media' : '(min-width: 960px)',
                                'srcset' : '%=static=%img/content/photo-car-desktop@1x.jpg, %=static=%img/content/photo-car-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-car-tablet@1x.jpg, %=static=%img/content/photo-car-tablet@2x.jpg 2x'
                            }
                        ],
                        src: '%=static=%img/content/photo-car-mobile@1x.jpg',
                        srcset: '%=static=%img/content/photo-car-mobile@2x.jpg 2x',

                        name: 'Левон',
                        time: '(5 часов назад)',
                        text: 'Вчера он на луну летал, сегодня в руки к нам попал.',
                        like: '356',
                        likeActive: true
                    }
                )
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                    {
                        sourse: [
                            {
                                'media' : '(min-width: 960px)',
                                'srcset' : '%=static=%img/content/photo-drumset-desktop@1x.jpg, %=static=%img/content/photo-drumset-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-drumset-tablet@1x.jpg, %=static=%img/content/photo-drumset-tablet@2x.jpg 2x'
                            }
                        ],
                        src: '%=static=%img/content/photo-drumset-mobile@1x.jpg',
                        srcset: '%=static=%img/content/photo-drumset-mobile@2x.jpg 2x',

                        name: 'Антон',
                        time: '(12 часов назад)',
                        text: 'Соседи будут рады!',
                        like: '666'
                    }
                )
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                    {
                        sourse: [
                            {
                                'media' : '(min-width: 960px)',
                                'srcset' : '%=static=%img/content/photo-window-desktop@1x.jpg, %=static=%img/content/photo-window-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-window-tablet@1x.jpg, %=static=%img/content/photo-window-tablet@2x.jpg 2x'
                            }
                        ],
                        src: '%=static=%img/content/photo-window-mobile@1x.jpg',
                        srcset: '%=static=%img/content/photo-window-mobile@2x.jpg 2x',

                        name: 'Борис',
                        time: '(20 часов назад)',
                        text: 'Здесь могла быть ваша цитата о высоком и вечном.',
                        like: '215'
                    }
                )
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                {
                    sourse: [
                        {
                            'media' : '(min-width: 960px)',
                            'srcset' : '%=static=%img/content/photo-fair-desktop@1x.jpg, %=static=%img/content/photo-fair-desktop@2x.jpg 2x'
                        },{
                            'media' : '(min-width: 660px)',
                            'srcset' : '%=static=%img/content/photo-fair-tablet@1x.jpg, %=static=%img/content/photo-fair-tablet@2x.jpg 2x'
                        }
                    ],
                    src: '%=static=%img/content/photo-fair-mobile@1x.jpg',
                    srcset: '%=static=%img/content/photo-fair-mobile@2x.jpg 2x',

                    name: 'Сергей',
                    time: '(25 часов назад)',
                    text: 'Самая кубанская в мире!',
                    like: '4'
                }
            )
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                    {
                        sourse: [
                            {
                                'media' : '(min-width: 960px)',
                                'srcset' : '%=static=%img/content/photo-pov-desktop@1x.jpg, %=static=%img/content/photo-pov-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-pov-tablet@1x.jpg, %=static=%img/content/photo-pov-tablet@2x.jpg 2x'
                            }
                        ],
                        src: '%=static=%img/content/photo-pov-mobile@1x.jpg',
                        srcset: '%=static=%img/content/photo-pov-mobile@2x.jpg 2x',

                        name: 'Максим',
                        time: '(40 часов назад)',
                        text: 'Где снег-то?',
                        like: '150'
                    }
                )
            .grid__col-12.grid__col-md-6.grid__col-xl-4
                +item-block(
                    {
                        sourse: [
                            {
                                'media' : '(min-width: 960px)',
                                'srcset' : '%=static=%img/content/photo-wing-desktop@1x.jpg, %=static=%img/content/photo-wing-desktop@2x.jpg 2x'
                            },{
                                'media' : '(min-width: 660px)',
                                'srcset' : '%=static=%img/content/photo-wing-tablet@1x.jpg, %=static=%img/content/photo-wing-tablet@2x.jpg 2x'
                            }
                        ],
                        src: '%=static=%img/content/photo-wing-mobile@1x.jpg',
                        srcset: '%=static=%img/content/photo-wing-mobile@2x.jpg 2x',

                        name: 'Надежда',
                        time: '(40 часов назад)',
                        text: 'Всем GM и взаимные лайки!',
                        like: '2560'
                    }
                )

