.paginator {
    padding: 56px 0;
}
.paginator__item {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $blue-dark;
    opacity: 0.3;

    &--active {
        width: 12px;
        height: 12px;
        background: $white;
        border: 3px solid $blue-dark;
        opacity: 1;
    }
}
@media (min-width: $tablet-width) {
    .paginator {
        padding: 49px 0;
    }
}
@media (min-width: $desktop-width) {
    .paginator {
        display: none !important;
    }
}
