.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    padding: 40px 0;
}
.footer__dev-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__dev-text {
    margin-right: 15px;
    font-size: 14px;
    line-height: 18px;
}
.footer__dev-icon {

}

@media(min-width: $tablet-width) {
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        padding: 36px 0 40px;
    }
}

@media(min-width: $desktop-width) {
    .footer__container {
        padding: 70px 0 75px;
    }
}
