.social-list {
    display: flex;
    justify-content: center;
    &--footer {
        padding: 40px 0;
    }
}
.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 14px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        border: 3px solid $blue-dark;
    }

    &:active {
        opacity: 0.3;
        border: 3px solid rgba($blue-dark, 0.1);
    }
}
.social-list__icon {

}
@media(min-width: $tablet-width) {
    .social-list--footer {
        padding: 0;
    }
}
