mixin controls()
    div(class="controls")
        div.controls__buttons
            button.controls__btn.controls__btn--prew(type="button" aria-label="Назад")
            button.controls__btn.controls__btn--next(type="button" aria-label="Вперед")
