include ../logo/logo.pug
include ../nav-list/nav-list.pug
include ../burger/burger.pug

mixin header
    header.header
        nav.grid.grid--between-xl.grid--middle.header__nav
            .grid.grid--between.grid--middle.header__nav-mb
                +logo(logo.default)
                +burger()
            +nav-list(nav.default)(class="grid__col-xl-8")
