include ../logo/logo.pug
include ../nav-list/nav-list.pug
include ../burger/burger.pug

mixin header
    header.header
        nav.row.row--between-xl.row--middle.header__nav
            .row.row--between.row--middle.header__nav-mb
                +logo(logo.default)
                +burger()
            +nav-list(nav.default)(class="col-xl-8")
