mixin constructor-btn(data)
    each btn in data
        button(type='button' class='constructor-btn constructor-btn--' + btn.name name=btn.name aria-label=btn.label)(class=btn.active ? 'constructor-btn--active' : '')
