// .contacts-list {
//     font-size: 24px;
//     font-weight: 300;
//     line-height: 30px;
//     display: flex;
//     flex-direction: column;
//     margin: 0;
//     padding: 0 20px 28px;
//     box-sizing: border-box;
//     text-align: center;
// }
// .contacts-list__wrapper {
//     background-color: $white;
// }

// .contacts-list__title {
//     font-size: 24px;
//     font-weight: 300;
//     line-height: 30px;
//     margin-bottom: 20px;
//     padding: 0 20px;
// }

// .contacts-list__text-wrapper {
//     margin: 0;
//     padding: 9px 0;
// }

// .contacts-list__name {
//     display: block;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 30px;
// }

// .contacts-list__value {
//     font-size: 24px;
//     line-height: 32px;
//     padding: 10px 0 28px;
//     color: $pink;
//     font-weight: 300;
//     text-decoration: none;
// }

// @media(min-width: $tablet-width) {
//     .contacts-list{
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: center;
//         padding: 45px 0 0;
//     }

//     .contacts-list__title {
//         font-size: 40px;
//         font-weight: 300;
//         line-height: 50px;
//     }

//     .contacts-list__text-wrapper {
//         width: 50%;
//         // padding-top: 12px;
//         box-sizing: border-box;
//     }

//     .contacts-list__value {
//         display: block;
//         padding: 0;
//         // padding-bottom: 21px;
//     }
// }
// @media(min-width: $desktop-width) {
//     .contacts-list {
//         justify-content: space-between;
//         padding: 51px;
//     }
//     .contacts-list__title {
//         font-size: 50px;
//         font-weight: 300;
//         line-height: 66px;
//         margin-bottom: 27px;
//     }
//     .contacts-list__text-wrapper {
//         width: 32%;
//     }

//     .contacts-list__value {
//         padding: 0;
//         // padding-top: 22px;
//     }

//     .contacts-list__text-wrapper--address {
//         order: 1;
//     }

//     .contacts-list__text-wrapper--email {
//         order: 2;
//     }
//     .contacts-list__text-wrapper--tel,
//     .contacts-list__text-wrapper--email {
//         &:hover,
//         &:focus {
//             text-decoration: underline;
//             color: $blue-dark;
//             box-shadow: none;
//         }

//         &:active {
//             color: rgba($blue-dark, 0.3);
//         }

//     }
// }


.contacts-list {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 20px 28px;
    box-sizing: border-box;
}

.contacts-text {
    margin: 0;
    padding: 9px 0;
    text-align: center;
}

.contacts-text__name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.contacts-text__value {
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0 28px;
    color: $pink;
    font-weight: 300;
    text-decoration: none;
}

@media(min-width: $tablet-width) {
    .contacts-text {
        width: 50%;
        // padding-top: 12px;
        box-sizing: border-box;
    }

    .contacts-text__value {
        display: block;
        padding: 0;
        // padding-bottom: 21px;
    }
}
@media(min-width: $desktop-width) {
    .contacts-text {
        width: 32%;
    }

    .contacts-text__value {
        padding: 0;
        // padding-top: 22px;
    }

    .contacts-text--address {
        order: 1;
    }

    .contacts-text--email {
        order: 2;
    }
    .contacts-text--tel,
    .contacts-text--email {
        &:hover,
        &:focus {
            text-decoration: underline;
            color: $blue-dark;
            box-shadow: none;
        }

        &:active {
            color: rgba($blue-dark, 0.3);
        }

    }
}
