mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title #{data.title}
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")
    link(rel="icon" href="img/general/favicon.ico" type="image/x-icon")
    link(rel="preload" href="static/fonts/opensans.woff2" as="font" type="font/woff2" crossorigin="")
    link(rel="preload" href="static/fonts/opensanslight.woff2" as="font" type="font/woff2" crossorigin="")
    link(rel="preload" href="static/fonts/opensansbold.woff2" as="font" type="font/woff2" crossorigin="")
    link(rel="stylesheet" href="static/css/main.css")
